
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    border-box: box-sizing;
}

:root{
    --color-neutral-0: #F5F5F5;
    --color-neutral-1: #1E1F27;
    --color-neutral-2: #FFFFFF;
    --color-neutral-3: #FF3D9A;
    --color-neutral-4: #F8DB46;
    --color-neutral-5: #F8DB46;
    --color-neutral-6: #F8DB46;
}

body{
    width: 100%;
    background-color: var(--color-neutral-0);
    font-family: 'poppins', sans-serif;
}

.container-cabecalho{
    border-bottom: none;
}


#secao-disponiveis{
    padding-top: 80px;
    background-color:var(--color-neutral-1);
    color: var(--color-neutral-2);
    padding-bottom: 80px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#secao-disponiveis button{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 8px;

    border-radius: 32px;
    border: none;

    background-color: #37383F;
    color: var(--color-neutral-2);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

a button .icone-flecha{
    width: 10px;
    height: 14px;
    margin-right: 8px;
}

a button{
    color: #FFFFFF;
}

#secao-disponiveis h1{
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
}

#secao-disponiveis ul{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-flow: row wrap;
}

#secao-disponiveis ul li div{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;
}

#secao-disponiveis ul li div button{

    background: var(--color-neutral-3);
}

#secao-disponiveis ul li img{
    width: 30px;
    height: 26px;
}

#secao-disponiveis ul li .imagem-animal{

    width: 220px;
    height: 220px;

}


ul li .nome-animal{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;

    letter-spacing: -0.02em;
    text-align: center;

}